#header {
  background: #4185f3;
  border: 1px solid #004a90;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Archivo', sans-serif;
}

#logo {
  margin: 20px;
  display: inline-block;
}

#search {
  float: right;
  margin: 25px 20px 0 0;
}

#search input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

#search button {
  background-color: transparent;
  border: none;
}

#message {
  color: red;
  text-align: center;
}

#gallery {
  width: 60vw;
  height: 60vw;
  margin-right: 2vw;
}

.main,
.aside {
  display: flex;
}

.aside {
  flex-direction: column;
  width: 35vw;
}

#info h2 {
  margin: 0;
}

#info h4 {
  margin: 0;
}

#info p {
  margin: 10px 0 0 0;
}

#thumbnails {
  margin: 10px;
  /* height: 40vw; */
}

#thumbnails img {
  display: block;
  margin-bottom: 5px;
}

.thumbs:hover {
  cursor: pointer;
}

#stars {
  background-color: #aaa;
  margin: 0 10px 10px 0;
}

.strike {
  text-decoration: line-through;
}

.sale {
  color: red;
}

#socialMedia {
  margin-top: 20px;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa_facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa_twitter {
  background: #55ACEE;
  color: white;
}

/* Pinterest */
.fa_pinterest {
  background: #cb2027;
  color: white;
}

#selector {
  margin: 20px 0;
  width: fit-content;
  /* text-align: center; */
}

#selector img {
  margin: 0 10px 10px 0;
  border-radius: 50%;
}

#cart select {
  cursor: pointer;
  padding: 10px;
}

#size {
  width: 50%;
  margin-right: 20px;
}

#qty {
  width: 40%;
}

#addBtn {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  text-align: left;
  width: 95%;
  cursor: pointer;
  border: 1px solid #000;
}

#addBtn span {
  float: right;
}

#desc {
  width: 60vw;
  margin: 20px auto;
}

#desc h4, #desc p {
  margin: 0 0 5px 0;
}