#header {
  background: #4185f3;
  border: 1px solid #004a90;
  color: #fff;
  margin-bottom: 10px;
}

#logo {
  margin: 20px;
  display: inline-block;
}

#search {
  float: right;
  margin: 25px 20px 0 0;
}

#search input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

#search button {
  background-color: transparent;
  border: none;
}

#gallery {
  width: 60vw;
  height: 60vw;
  margin-right: 2vw;
}

.main,
.aside {
  display: flex;
}

.aside {
  flex-direction: column;
  width: 35vw;
}

#info h2 {
  margin: 0;
}

#info p {
  margin: 10px 0 0 0;
}